VITE_DEMO_LOGIN_EMAIL=admin@reactdash.dev
VITE_DEMO_LOGIN_PASSWORD=Dash2026!
VITE_DEMO_USER_NAME=Avery Stone
VITE_DEMO_USER_ROLE=Operations Lead
VITE_DEMO_USER_AVATAR=https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=200
